<!DOCTYPE html>
<html>

<head>
    <title>
        Conference Predictor
    </title>
</head>

<body>
    <h1>Conference Predictor</h1>
    <div>
        <form method="POST" action="/predict">
            <textarea rows="12" cols="60" name="title" placeholder="Enter your title here"
            value="{{ title }}">{{ title }}</textarea>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        {{ prediction }}
    </div>
</body>

</html>